<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-light.css' id="theme-css" />
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
    <script src="/javascripts/jquery-3.7.0.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/theme-switch.js"></script>
</head>